* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial;
} 

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0B5563;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  padding: 12px;
}

#footer ul {
  text-decoration: none;
}

#footer ul li {
  display: inline;
  padding: 20px;
}

#footer a:link {
  color: #fff;
  text-decoration: none;
}

#footer a:visited {
  color: #E83151;
  text-decoration: none;
}

#footer a:hover {
  color: #FFCB77;
  text-decoration: none;
}

.foothead {
  margin-right: 45px;
  color: #fff;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        color: black;
        background-color: #FFCB77; /* Yellow */
        font-weight: normal;
        font-size: 14px;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
        color: white;
        background-color: #5E5C6C; /* Gray */
        font-weight: bold;
        font-size: 16px;
    }
  }
