* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BOT Logo */

header {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.logo {
  display: flex;
  height: 4em;
  width: 8em;
  margin: 5px;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0B5563;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  padding: 12px;
}

#footer ul {
  text-decoration: none;
}

#footer ul li {
  display: inline;
  padding: 20px;
}

#footer a:link {
  color: #fff;
  text-decoration: none;
}

#footer a:visited {
  color: #E83151;
  text-decoration: none;
}

#footer a:hover {
  color: #FFCB77;
  text-decoration: none;
}

.foothead {
  margin-right: 45px;
  color: #fff;
}

/* --------- MEDIA QUERIES --------- */

/* Mobile Styles */

@media only screen and (max-width: 560px) {
  header {
    background-color: aqua;
  }
  .header-logo:hover {
    background-color: pink;
    transform: rotate(180deg) scale(1);
    transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1) 2.0s;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 561px) and (max-width: 960px) {
  header {
    background-color: burlywood;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
  header {
    background-color: darkgreen;
  }
  .header-logo {
    transform: scale(1.5);
    padding: 1.15em;
  }
}