* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header/Logo Section Goes Here*/

header {
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.logo {
  display: flex;
  height: 4em;
  width: 8em;
}

/*Main Body Section Starts Here*/

body {
  font-family: Arial;
  line-height: 1.2em;
}

.container {
  margin: auto;
  Width: 75%;
}

h1, h3 {
  text-align: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 50px;
}

h3 {
  margin: 40px 0;
}

p {
  margin: 0 auto;
}

.imgcontainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  transition: .2s ease;
  backface-visibility: hidden;
  margin-top: 25px;
}

.img {
  width: 100%;
  margin: 5px
}
.overlay {
  background: rgba(0,0,0,0.4);
  transition: .2s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5
}

.photo:hover {
  opacity: 0.3;
}

.overlay:hover {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Footer Section Starts Here*/

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0B5563;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  padding: 12px;
  margin-top: 50px;
}

#footer ul {
  text-decoration: none;
}

#footer ul li {
  display: inline;
  padding: 20px;
}

#footer a:link {
  color: #fff;
  text-decoration: none;
}

#footer a:visited {
  color: #E83151;
  text-decoration: none;
}

#footer a:hover {
  color: #FFCB77;
  text-decoration: none;
}

.foothead {
  margin-right: 45px;
  color: #fff;
}

/* Media Starts Below */

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  body {
    color: black;
    background-color: #FFCB77;
    /* Yellow */
    font-weight: normal;
    font-size: 14px;
  }
  /* Logo should do a 180 spin when hovered */
  .front {
    transform: rotate3d(180deg);
    transition: 2s;
  }
  .logo:hover {
    transform: rotateY(180deg);
  }
  .logo:hover::after {
    transform: rotateY(-180deg);
  }
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #60B2E5;
    /* Blue*/
  }
  /* Logo should flip on the y axis */
  .logo {
    transform: rotateY(180deg);
    transition-duration: 2s;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
  body {
    color: white;
    background-color: #5E5C6C;
    /* Gray */
    font-weight: bold;
    font-size: 16px;
  }
  /* Logo should get slightly larger and then go back to normal size */
  .logoDisplay {
    animation: 1.5s ease 1 normal botGrows;
    position: absolute;
  }
  @keyframes botGrows {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2);
    }
  }
}
